*{
    font-family:cursive;
}
#barra1{
    color: white;
    width:100%;
    background-color:green;
    vertical-align: middle;
}

#p{
    margin-left: 155px;
    /*display: table-cell;
    vertical-align: middle;*/
    font-family:Courier;
    height: 60px;
    padding:20px 155px 0 0;
    
    
    
}

.text1 {
    margin-left: 155px;
    padding: 10px 155px 0 0 ;
    text-align: center;
    font-size: xx-large;
}

textarea, input {
    display:block;
    margin-left:auto;
    margin-right:auto;
   
}

textarea{
    width: 75%;
    height: 200px;
}

button{
    /*position:absolute;
    top:70%;
    right: 180px;
    */
    font-family: Courier;
    color:white;
    margin-left: 80%;
    border-radius: 12px;
    
    width: 70px;
    height: 40px;
    background-color: red;

}

#e1{
    margin-left: 155px;
}

#bb{
    padding-top:20px;
}