*{
    font-family:cursive;
}
#barra1{
    color: white;
    width:100%;
    background-color:green;
    vertical-align: middle;
}

#p{
    display: table-cell;
    font-family:Courier;
    height: 60px;
    vertical-align: middle;
    
}

.uno {
    text-align: center;
    font-size: xx-large;
}